:root {
	--dark: #292C35;
	--light: #F1F1F1;
	--label: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: var(--light);
}

.dark-mode {
  background-color: var(--dark);  
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-images {
  width: 236px;
  display: flex;
  align-items: center;
  gap: 29px;
  background-color: var(--label);
  border-radius: 100px;
  padding: 5px 4px;
}

.image {
  width: 94px;
  cursor: pointer;
}

.image-ball {
  display: none;
}

.image-ball-check {
  display: block;
}

.title-mode {
  color: var(--label);
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
}

.title-dark {
  color: var(--light);
}
